@media only screen and (max-width: 768px) {

    header .navbar-brand img {
        width: 10vw;
    }

    header .navbar-brand h1 {
        font-size: 4vw;
    }

    header .social-media {
        display: none;
    }

    main .about-moonchain .authors {
        flex-wrap: wrap;
    }

    main .about-moonchain .authors .author {
        width: 100%;
        max-width: 370px;
        margin: auto;
    }



}



@media only screen and (max-width: 992px) {
    main .first-section .first-section-content .left h1 {
        font-size: 6vw;
    }

    main .first-section .first-section-content p {
        font-size: 3vw;
    }

    header .d-flex {
        width: 100%;
    }
}